<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236178661902-2t1g254jpn1h1k4upavhsc9ls70jdarm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236178661902-2t1g254jpn1h1k4upavhsc9ls70jdarm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>236178661902-jqhmnqf2f3jf2v65docdcj5mo7rjkqsb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDxhdc_JeTGIqR4-7ioNlaT6RutCEKGMDk</string>
	<key>GCM_SENDER_ID</key>
	<string>236178661902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.factocart</string>
	<key>PROJECT_ID</key>
	<string>aerospace-a5f15</string>
	<key>STORAGE_BUCKET</key>
	<string>aerospace-a5f15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236178661902:ios:b037cd02371f15c3f4d25f</string>

</dict>
</plist>
